header{
    display: flex;
    justify-content: space-between;
    height: 96px;
    left: -1px;
    right: 0px;
    top: 0px;
    background: #68CDC1;
}


button:hover{
    cursor: pointer;
}

header .myPage button{
    border: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 27px;
    margin-right: 12px;
    margin-top: 45px;;
}

header .notifications button{
    border: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 27px;
    margin-left: 12px;
    margin-top: 45px;;
}

header i{
    color: #68CDC1;
}

#changeList{
    margin: 0;
    width: 100%;
}

.myList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myList p#listTitle{
    font-weight: bold;
    font-size: 30px;
}

#changeList .row button{
    background-color: #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
}

#changeList .row button#rentalList{
    border-color: #68CDC1;
    border-width: 5px;
}

#changeList .row button#searchList{
    border-color: #68CDC1;
    border-width: 5px;
}

/* tr{
    display: flex;
    justify-content: space-between;
} */

#rowList{
    text-align: center;
}